.default-layout{
    display: grid;
    grid-template-rows: 80px auto 3rem;
    grid-template-areas: "header" "main" "footer";
}

header{
    grid-area:header; 
    justify-content: space-evenly;   
}

header .nav{
    justify-content: flex-end;
    width: 90%;
}


main{
    grid-area: main;
    min-height: 88vh;
}

footer{
    grid-area: footer;
    background-color: black;
    padding: 1rem;
    color: white;
}

.search-col, .close-ticket{
    text-align: right;
}